

.backdrop {
    /*multiply 50vw with tan(x) to maintain an angle of x*/
    margin-top: -100vh;
    padding-top: 100vh;
    position: relative;
    clip-path: polygon(0 calc(100% - 50vw*0.57735), 0 0, 100% 0, 100% calc(100% - 50vw*0.57735), 50% 100%);
}
