.binary-number {
    max-width: 1em;
    overflow-wrap: anywhere;
    position: fixed;
    animation: linear 10s infinite binary-down;
    color: greenyellow;
    top: -100vh;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
    left: 10vw;
}

#light .binary-number {
    color: green;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

#binary2 {
    left: 20vw;
    animation-delay: 3s;
}


#binary3 {
    left: 40vw;
    animation-delay: 1s;
}


#binary4 {
    left: 60vw;
    animation-delay: 6s;
}

#binary5 {
    left: 80vw;
    animation-delay: 2s;
}



@keyframes binary-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(300vh);
    }
}