* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

html body {
    overflow-x: hidden;
}

#light .main-text-color {
    color: #3C83F4;
}
#light .arrow-color {
    fill: #3C83F4;
}
#light .background-color-1 {
    background-color: white;
}
#light .background-color-2 {
    background-color: #F1F1FF;
}

#light .background-color-3 {
    background-color: #D9DDFF;
}


#light .main-background-color {
    background-color: #F0EEFF;
}

#dark .main-text-color {
    color: white;
}
#dark .arrow-color {
    fill: white;
}
#dark .background-color-1 {
    background-color: #090B24;
}

#dark .main-background-color {
    background-color: #27272D;
}

