.container {
    margin: auto;
    color: #FFFFFF;
    padding: 20px;
    font-family: -apple-system, Roboto, sans-serif, serif;
}

.heading {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
}

.sub-heading {
    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
}

.crop-img {
    position: relative;
    overflow: hidden;
    border-radius: 20%;
}

.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: white;
}