

.front-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    max-width: 750px;
    margin: auto;
}

.backdrop {
    width: 200vmax;
    height: 200vmax;
    position: absolute;
    bottom: -100px;
    transform-origin: bottom right;
    transform:  translateX(-100vmax) rotate(45deg);
    border-radius: 200px;
    z-index: 0;
}

.heading {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 64px;
    text-align: center;
    margin-top: 40vh;
}

.sub-heading {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin: 40px;
}

@media (max-height: 479px) {
    .heading {
        font-size: 40px;
    }
    .sub-heading {
        font-size: 20px;
    }
}

@media (max-height: 437px) {
    .nav-bar {
        display: none;
    }
}
