
.main {
    padding-bottom: 5vh;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    max-width: 750px;
    margin: auto;
    position: relative;
}

.heading {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 64px;
    text-align: center;
    margin-top: 30vh;
}

.sub-heading {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin: 40px;
}

@media (max-height: 479px) {
    .heading {
        font-size: 40px;
    }
    .sub-heading {
        font-size: 20px;
    }
}