
.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 30px;
}

.crop-img {
    position: relative;
    overflow: hidden;
    border-radius: 20%;
}

.nav-link-text {
    color: white;
}