
.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

.nav-link-text{
    font-size: 14px;
}

.nav-logo-text {
    font-size: 25px;
    font-family: Roboto Mono, monospace;
    text-decoration: none;
}

.nav-bar {
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 700;
    margin: -31px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.5);
    background-color: white;
    align-items: center;
    align-content: center;
}


#dark .nav-bar {
    background-color: #090B24;
}


@media (max-height: 437px) {
    .nav-bar {
        display: none;
    }
}
