.terminal-box {
    background-color: black;
    width: 90vw;
    height: 80vh;
    position: relative;
    border-radius: 25px;
    margin: 10vh auto 5vh;
    overflow-y: auto;
    cursor: text;
    z-index: 1000;
    padding: 40px;
    font-size: medium;
    color: #519975;
    white-space: pre;
}

.terminal-input {
    background: rgba(200, 0, 0, 0);
    width: 1px;
    height: 1px;
    border: none;
    outline: none;
}

.terminal-box p {
    animation: typing-animation 0.5s steps(30, end);
    overflow: hidden;
}
@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.command {
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD; 
  }

.orange-terminal-text {
    color: #B89076;
}


.terminal-cursor {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}