.box {
    background-color: black;
    width: 90vw;
    height: 80vh;
    position: relative;
    border-radius: 25px;
    margin: 10vh auto 5vh;
    overflow-y: auto;
    cursor: text;
}

.terminal-input {
    background: rgba(200, 0, 0, 0);
    width: 1px;
    height: 1px;
    border: none;
    outline: none;
}

.terminal-text {
    padding: 40px;
    font-size: medium;
}


.terminal-cursor {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}